@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common part */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 5%;

}

body {
    padding: 10px 5px;
}

/* common part end  */
/* banner part start */

#banner-part {
    width: 100%;
    font-family: 'Poppins', sans-serif;

}

.container-border {
    border-radius: 30px;
    background-color: #00314E;
    color: white;
}



.banner-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-part .banner-part-left-text {
    flex-basis: 50%;
    
}

.top-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    margin-top: 25px;
}

 .banner-part-left-inner-text {
    padding: 0px 15px;
    width: 80%;
    margin: 0 auto;


}

 .banner-pera {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
        margin: 10px 0px;
        line-height: 24px;
    font-weight: 400;
   
}

 .banner-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: aliceblue;
    background-color: #E02C6D;
    width: 149px;
    padding: 12px 12px;
    border-radius: 5px;
    margin: 10px 0px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;

}
/* animation button */
.banner-btn:hover {
    background-color: #880808;
}

/* .container-border:hover{
    background-color:darkgray;
    color: black;
 
} */




.banner-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.banner-btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.8s;
}

.banner-btn:hover span {
    padding-right: 15px;
}

.banner-btn:hover span:after {
    opacity: 1;
    right: 0;
}

 .banner-icon {
    margin: 0px 2px 0px 5px;
}

.banner-part  {
    flex-basis: 50%;
    /* padding */
    padding: 20px 40px 0px 40px;
   
}
.banner-part-right-img{
    flex-basis: 50%;
}

 .banner-part-right-img img {
    width: 100%;
    

}

 /* banner end */
 /* middle section */
#middle-section-blog {
    width: 100%;
    /* color: white; */
}

.middle-section-blog {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.middle-section-blog-left {
    width: 27%;
    margin-right: 1%;
    height: 300px;
    /* border: 1px solid red; */
    /* background-color:#6B00D7; */
    background-color: #001324;
    border-radius: 10px;

}

 .fixed-pos {
    width: 100%;
    height: 100%;
    /* position: fixed;
   position: fixed;
    top: 67px;
    left: -403px; */

}

 .middle-section-blog-left-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

 .middle-section-blog-left-menu a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: whitesmoke;
    margin: 15px 0px;
    width: 200px;
    text-align: center;
    padding: 10px 12px;
    border-radius: 5px;

}


 .middle-section-blog-left-menu .active-red {
    background-color: #E02C6D;
    color: white;
}

 .middle-section-blog-left-menu .upcoming-match{
    background-color: #E02C6D;
    color: whitesmoke;
}

 
.middle-section-blog-right {
    width: 72%;
    padding: 7.5px 7.5px;

}

.middle-section-blog-right-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 15px;

}

article {
    border: 1px solid rgb(227, 224, 224);
    border-radius: 10px;
}

article .card-img img {
    width: 100%;

}

article .card-info {
    padding: 0px 10px;
    margin-top: 15px;
}

 .transfer-btn {
    padding: 0px 10px;
    width: 88px;
    /* padding: 3px ; */
   padding: 3px,6px;
    border-radius: 6px;
  
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color:whitesmoke;
    border: 1px solid black;
        margin: 5px 0px 10px 0px;
}
.transfer-btn:hover{
    background-color:#BEBEBE;
    color: black;
}

 .card-info h3 {
    margin: 5px 0px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

 .card-info-icon {
    margin-bottom: 20px;
}

 .clock {
    margin-right: 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

 .comment {

    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* upcoming part */
.middle-section-blog-right-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.upcoming-part{
    padding: 20px 15px;
}

 .card-img-upcoming-part {

    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;

}

 .card-img-upcoming-part h3 {

font-weight: 700;
    font-family: 'poppins';
    margin: 0px 10px;
    font-size: 20px;
   

}



 .card-info-upcoming-part {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'poppins';
    margin: 25px 0px;


}

 .card-info-upcoming-part p {

    font-size: 13px;
    font-weight: 400;
    font-family: 'poppins';
    margin-top: 5px;


}
.card-info-upcoming-part h4{
    font-size: 20px;
}
/* upcoming end */
/* view button */
#view-btn {

    display: none;
}

 .view-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: aliceblue;
    background-color: #E02C6D;
    width: 149px;
    padding: 12px 12px;
    border-radius: 8px;
    margin: 10px 0px;
    border: none; 
    transition: all 0.5s;
        cursor: pointer;

}
.view-btn:hover {
    background-color: #880808;
}





.view-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
}

.view-btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.8s;
}

.view-btn:hover span {
    padding-right: 15px;
}

.view-btn:hover span:after {
    opacity: 1;
    right: 0;
}
/* view btn end */
footer {
    background-color: #022247;
    padding: 20px;

}

footer h3 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding: 10px 0px;


}

hr {
    border: 1px solid whitesmoke;
    border-top: none;
    width: 80%;
    margin: 20px auto;

}

.footer-menu {
    width: 80%;
    padding: 10px 0px 20px 0px;
    margin: 35px auto 10px auto;
    display: flex;
    justify-content: center;
   

}

.footer-menu a {
    margin: 0px 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.footer-menu .footer-menu-four {
    text-align: center;
}


.social-site {
    margin: 0px auto 20px auto;
    width: 85%;
    text-align: center;
    padding: 0px 20px 20px 20px;

}

.social-site a {
    text-decoration: none;
    /* display: inline-block; */
    font-size: 25px;
    width: 40px;
    height: 40px;
    /* padding: 10px 10px; */
    font-weight: 700;

    margin: 10px 5px;
    text-align: center;

    color: white;


}
/* footer */